.DS_Store
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules/
.idea/
test/xface/coverage/
test/legacy/coverage/
test/xface/node_modules/
test/legacy/node_modules/

npm-debug.log
